---
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

// Carga y procesa los posts (rápido y seguro)
const posts = (await Astro.glob('./posts/*.mdx'))
	.map(({ frontmatter, url }) => ({
		title: frontmatter.title,
		description: frontmatter.description,
		authors: frontmatter.authors,
		publishDate: new Date(frontmatter.publishDate),
		featuredImage: frontmatter.featuredImage,
		excerpt: frontmatter.excerpt,
		href: url,
	}))
	.sort((a, b) => b.publishDate.getTime() - a.publishDate.getTime())
// .slice(0, 6) // opcional: limitar cantidad

const seo = {
	title: 'Servicios | A&A Spa',
	description: 'Belleza y bienestar a tu alcance con nuestros servicios y promociones en A&A Spa.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Servicios y promociones</h1>
			<p>
				Entérate de primera mano acerca de las novedades en servicios y promociones!  <br>Suscríbete a nuestra lista de distribución para no perderte
				de nada.
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Servicios y promociones</h2>
			<BlogPostsList posts={posts} />
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
