---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Google",
  "Redes Sociales",
  "Email",
  "Recomendación de una amiga",
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Nombre" name="Name" placeholder="Nombre" />
  <FormInput type="email" label="Correo electrónico" name="Email" placeholder="hola@email.com" />
  <FormSelect label="¿Cómo te enteraste de nosotras?" options={selectOptions} />
  <FormTextarea label="Mensaje" name="Message" placeholder="Tu mensaje aquí..." />
  <Button>Enviar</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>