---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Google",
  "Redes Sociales",
  "Email",
  "Recomendación de una amiga",
]

---

<form name="Contact Form" method="POST" action="/api/contact">
  <FormInput type="text" label="Nombre" name="name" placeholder="Nombre" />
  <FormInput type="email" label="Correo electrónico" name="email" placeholder="hola@email.com" />
  <FormSelect name="source" label="¿Cómo te enteraste de nosotras?" options={selectOptions} />
  <FormTextarea label="Mensaje" name="message" placeholder="Tu mensaje aquí..." />
  <Button type="submit">Enviar</Button>
</form>



<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>